/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
* {
    color: #666;
    box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 14px;
    font-family: 'Fira Mono', 'Roboto', 'Noto Sans KR', 'Malgun Gothic';
    vertical-align: baseline;
    color: inherit;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
    color: inherit;
}
body {
    background-color: #f7f8fb;
    line-height: 1;
}
blockquote,
q {
    quotes: none;
}
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button {
    line-height: 1;
    cursor: pointer;
}
img {
    vertical-align: middle;
    border-style: none;
}
a {
    color: #666;
    text-decoration: none;
    &:hover,
    &:focus {
        color: #666;
        text-decoration: none;
    }
}

.screen-lock {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.screen-out {
    overflow: hidden;
    position: absolute;
    top: -999em;
    left: -999em;
}

.is-error {
    line-height: 1.5;
    padding-top: 8px;
    font-size: 12px;
    color: #da3620;
}
@include button();
