$mob-s : 320px;
$mob-l : 640px;
$tablet : 768px;
$desktop-s : 1025px;
$desktop-l : 1300px;



$color1: #212225;
$color2: #4f4f4f;
$color3: #9b9b9b;
$color4: #ebedf1;
$color5: #454545;
$color6: #5b5c5f;
$color7: #bdbdbd;
$color8: #20c997;
